<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
    <h1>Invoices</h1>
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th class="mdl-data-table__cell--non-numeric"></th>
          <th class="mdl-data-table__cell--non-numeric"></th>
          <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.id %></td>
            <td><%= invoice.start_date.to_formatted_s(:long) %></td>
            <td><%= invoice.end_date.to_formatted_s(:long) %></td>
            <td><%= link_to 'View', invoice_path(invoice) %></td>
            <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
            <td>
              <%= link_to 'Delete', invoice_path(invoice),
                method: :delete,
                data: {confirm: "Are you sure?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p></p>
    <%= link_to 'New Invoice', new_invoice_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
</div>