<% @invoices.each_slice(3) do |invoices| %>
	<div class="mdl-grid">
		<% invoices.each do |invoice| %>
			<div class="mdl-cell--1-col"></div>
			<div class="mdl-cell--3-col">
				<div class="mdl-card invoice-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-color--green">
						<h4>
							<%= "Invoice #{invoice.id}" %>
							<div class="mdl-card__subtitle-text"><%= "#{invoice.start_date.to_formatted_s(:long)} - #{invoice.end_date.to_formatted_s(:long)}" %></div>
						</h4>
					</div>
					<div class="mdl-card__supporting-text">
						<p><b>Payments</b>: <%= number_to_currency(get_owed(@items,invoice)) %></p>
						<p><b>Expenses</b>: <%= number_to_currency(get_expenses(@expenses,invoice)) %></p>
						<p><b>Total</b>: <%= number_to_currency(get_owed(@items,invoice) + get_expenses(@expenses,invoice)) %></p>
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<%= link_to "View", invoice_path(invoice), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>


