<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--10-col">
		<h2><%= @today_format %></h2>
		<div class="mdl-card__subtitle-text">
			<%= link_to "Invoice #{@invoice.id} (#{@invoice.start_date.to_formatted_s(:long)} - #{@invoice.end_date.to_formatted_s(:long)})", invoice_path(@invoice) %> <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_invoice_path(@invoice) %>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--2-col">
		<%= render "shared/stats" %>
	</div>
</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
		<h4>Payments</h4>
		<%= render "items/form" %>
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
			<thead>
				<tr>
					<th>Date</th>
					<th class="mdl-data-table__cell--non-numeric">Matter</th>
					<th class="mdl-data-table__cell--non-numeric full-width">Description</th>
					<th class="mdl-data-table__cell">Hours</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
					<tr>
						<td><%= item.date %></td>
						<td><%= item.matter.name if item.matter %></td>
						<td><%= item.desc %></td>
						<td><%= item.hours %></td>
						<td><%= link_to "Delete", [item.invoice, item],
								method: :delete,
								data: { confirm: "Are you sure?"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>