<tr>
	<td class="mdl-data-table__cell--non-numeric"><%= item.date.to_formatted_s(:short) if item.date %></td>
	<td class="mdl-data-table__cell--non-numeric"><%= item.matter.name if item.matter %></td>
	<td class="mdl-data-table__cell--non-numeric"><%= item.desc %></td>
	<td><%= item.hours %></td>
	<td class="delete-link"><%= link_to "Delete", [item.invoice, item],
			method: :delete,
			data: { confirm: "Are you sure?"} %>
	</td>
</tr>